<div>
  <div class="breadcrumb">
    <h1>Order History</h1>
    <div class="items-center">
      <%= link_to "Wallet / Buy & Sell", wallets_path, { class: 'no-decor' } %>
      <%= link_to "Stock List", stocks_path, { class: 'no-decor' } %>
    </div>
  </div>
  <div class="order">
    <div style="width: 100%">
      <%= render 'wallets/header' %>
      <table>
        <thead>
              <th>Stocks</th>
              <th>Price</th>
              <th>Shares QTY</th>
              <th>Type</th>
              <th>Total Cost</th>
              <th>Remarks</th>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
              <td><%= order.stock.name %></td>
              <td><%= order.stock.unit_price %></td>
              <td><%= order.qty %></td>
              <td><%= order.action_type %></td>
              <td><%= order.total_cost %></td>
              <td><%= order.remarks %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'wallets/buy_sell_form' %>
  </div>
</div>
