<div class="card">
  <div class="card-title">
    Buy and Sell
  </div>
  <div class="card-body">
    <%= form_with  model: @wallet do |form| %>
      <div>
        <%= form.label :stock_id %>
        <%= form.collection_select :stock_id, @stocks, :id, :name, { prompt: "Please select a stock" } %>
      </div>
      <div class="wrapper">
        <%= form.label :qty %>
        <%= form.number_field :qty %>
      </div>
      <div class="wrapper">
        <%= form.label :remarks, "Remarks (optional)" %>
        <%= form.text_area :remarks, :rows => 5 %>
      </div>
      <div class="action-wrapper">
        <%= form.submit 'BUY', :class => 'buy-btn', :value => 'BUY' %>
        <%= form.submit 'SELL', :class => 'sell-btn', :value => 'SELL' %>
      </div>
    <% end %>
  </div>
</div>