<div>
  <div class="breadcrumb">
    <h1>Wallet / Buy & Sell</h1>
    <div class="items-center">
      <%= link_to "Stock List", stocks_path, { class: 'no-decor' } %>
      <%= link_to "Order History", orders_path, { class: 'no-decor' } %>
    </div>
  </div>
  <div class="order">
    <div style="width: 100%">
      <%= render 'header' %>
      <table>
        <thead>
              <th>Stocks</th>
              <th>Price</th>
              <th>Shares QTY</th>
              <th>Total Cost</th>
        </thead>
        <tbody>
        <% @wallets.each do |wallet| %>
          <tr>
              <td><%= wallet.stock.name %></td>
              <td><%= wallet.stock.unit_price %></td>
              <td><%= wallet.qty %></td>
              <td><%= wallet.total_cost %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="card">
      <div class="card-title">
        Buy and Sell
      </div>
      <div class="card-body">
        <%= form_with  model: @wallet do |form| %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
          <div>
            <%= form.label :stock_id %>
            <%= form.collection_select :stock_id, @stocks, :id, :name %>
          </div>
          <div class="wrapper">
            <%= form.label :qty %>
            <%= form.number_field :qty %>
          </div>
          <div class="wrapper">
            <%= form.label :remarks, "Remarks (optional)" %>
            <%= form.text_area :remarks, :rows => 5 %>
          </div>
          <div class="action-wrapper">
            <%= form.submit 'BUY', :class => 'buy-btn', :value => 'BUY' %>
            <%= form.submit 'SELL', :class => 'sell-btn', :value => 'SELL' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>