
<div>
  <div class="breadcrumb">
    <h1>My Portfolio</h1>
    <h1>
      <%= link_to "Order History", orders_path, { class: 'no-decor' } %>
    </h1>
  </div>
  <div class="order">
    <div style="width: 100%">
      <%= render 'header' %>
      <table>
        <thead>
              <th>Stocks</th>
              <th>Price</th>
              <th>Shares QTY</th>
              <th>Total Cost</th>
        </thead>
        <tbody>
        <% @wallets.each do |wallet| %>
          <tr>
              <td><%= wallet.stock.name %></td>
              <td><%= wallet.stock.unit_price %></td>
              <td><%= wallet.qty %></td>
              <td><%= wallet.total_cost %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'buy_sell_form' %>
  </div>
</div>